* {
    padding: 0px;
    margin: 0px;
}

    body {
        background-image: url(../images/zebra.jpg);
}


#question {
    font-weight: bold;
}

#score {
    background-color: black;
    color: white;
}

.content {
    text-align: center;
    padding-left: 300px;
    padding-right: 300px;
}

.triviaGame1 {
    background-color: white;
    text-align: center;
    width: 40%;
    margin-left: 30%;
}

.jumbotron {
    background-color: black;
    color: white;
    font-size: 60px;
    font-weight: bold;
}
